<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>

  <appSettings>
    <add key="MC_URL" value="http://localhost:8080"></add>
    <add key="MAX_POP" value="4" ></add>
  </appSettings>

</configuration>